.idea/jsLibraryMappings.xml
**/.attach_pid*
**/generated_tests
**/target
*/build
**/overlays
*.DS_Store
*.iml
*.iws
*.ipr
*.ids
*.log
.surefire-*
.gradle
.idea/jenkinsSettings.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/libraries
.idea/ant.xml
.idea/artifacts
.idea/shelf
.idea/dataSources/*
.idea/dataSources.local.xml
.idea/kotlinc.xml
.idea/usage.statistics.xml
.idea/misc.xml
.idea/compiler.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/csv-plugin.xml
.idea/runConfigurations.xml
.idea/jpa-buddy*.xml
.idea/aws.xml
.jpb/*
caches
daemon
.idea/sonarlint
*/${sys:catalina.base}/
*/out
propsfile
**/*/node_modules/
/ticket-magnolia/ticket-stellata-magnolia/repositories/
.jx/variables.sh
.mvnrepository
cacerts
VERSION
env.json